// Contains a function ArrMax.arrMax that finds and returns the largest element in the array a of length b.
// a & b are both supplied as arguments

// Put your code here.

function ArrMax.arrMax 2
    push argument 0
    pop pointer 1 
    push that 0
    pop local 0

    push argument 1
    push constant 1
    sub 
    pop argument 1

label LOOP

    push argument 1
    push constant 0 
    eq
    if-goto STORE

    push argument 0
    push constant 1
    add 
    pop argument 0

    push argument 0
    pop pointer 1

    push that 0 
    push local 0
    lt
    if-goto SKIP

    push that 0
    pop local 0

label SKIP

    push argument 1
    push constant 1
    sub 
    pop argument 1
    goto LOOP

label STORE
    push local 0
    return
